<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Instituto.css" />
    <script src="./main.js"></script>

</head>

<body>
    <h1> Todos
        Instituto Campus Quito <br>
    </h1>
    <img src="capus.jpeg" alt="">
    <br>
    <h2>Seminarios de Institutos</h2>
    <p>El objetivo de Seminarios e Institutos de Religión
        Nuestro propósito es ayudar a los hombres y mujeres jóvenes, y a los jóvenes adultos, a profundizar su
        conversión a Jesucristo y Su evangelio restaurado, a hacerse merecedores de las bendiciones del templo y a
        prepararse ellos mismos, a sus familias y a los demás para la vida eterna con su Padre Celestial.
    </p>
   
    <hr>
    <h2>Lograr nuestro propósito
    </h2>

    <h2>Nuestro propósito</h2>
    <li class="inicio">Vivir</li>
    <p>Vivimos el evangelio de Jesucristo y nos esforzamos por tener la compañía del Espíritu Santo. Nuestra
        conducta y nuestras relaciones con los demás son ejemplares en el hogar, en el salón de clases y en la
        comunidad. Procuramos mejorar continuamente nuestro rendimiento, conocimiento, actitud y carácter.
        Escuchamos atentamente a los profetas vivientes de Dios y seguimos sus enseñanzas y dirección inspiradas.
    </p>
    <li class="inicio"> Enseñar</li>
    <p>Centramos cada experiencia de aprendizaje en Jesucristo y en Su ejemplo, atributos y poder redentor. Ayudamos
        a los alumnos a aprender el evangelio restaurado de Jesucristo tal como se halla en las Escrituras y en las
        palabras de los profetas. Ayudamos a los alumnos a cumplir su función en el aprendizaje por sí mismos. Nos
        esforzamos por invitar al Espíritu Santo a cumplir Su función en cada experiencia de aprendizaje.
    </p>
    <li class="inicio">Guiar</li>
    <p>Basamos nuestro liderazgo en el ejemplo de Jesucristo. Invitamos y animamos a todos los jóvenes y jóvenes
        adultos a participar en Seminario e Instituto. Procuramos fortalecer a aquellos a quienes guiamos,
        administrar eficazmente la obra y edificar la unidad con los demás. Nuestra labor ayuda y apoya a las
        personas, a las familias y a los líderes del sacerdocio. </p>
    <p></p>
    <hr>
    <h2>Cambia tu vida con Jesucristo</h2>
    <h3> 1. La Restauracion</h3>
    <p class="parrafo">Dios es su Padre Celestial. Él le conoce personalmente y le ama más de lo que usted se
        imagina. Él quiere que sea feliz en esta vida y en la eternidad.</p>
    <p>Nuestro Padre Celestial escogió nuevamente un profeta para restaurar el Evangelio y el sacerdocio sobre la
        tierra. El nombre de ese profeta era José Smith. Siendo aun muy joven, José se sentía confundido debido a
        las diferencias que existían entre las muchas iglesias de la región donde vivía y deseaba saber cuál de
        ellas era la correcta. Como sabía que carecía de sabiduría, siguió el consejo que se encuentra en la Biblia,
        “…si alguno de vosotros tiene falta de sabiduría, pídala a Dios, el cual da todos abundantemente y sin
        reproche, y le será dada” (Santiago 1: 5).</p>
    <hr>
    <h3> El Plan de Salvacion</h3>
    <p class="parrafo">El Plan de Salvación* es el plan que Dios tiene para la felicidad de Sus hijos, y se centra
        en la expiación de Jesucristo. Si usted sigue las enseñanzas de Jesucristo, encontrará paz interior
        perdurable en esta vida y gozo eterno después de la muerte.</p>
    <p>Al aprender acerca del Plan de Salvación, usted encontrará la respuesta a estas preguntas: “¿De dónde vine?”
        “¿Cuál es mi propósito en la vida?” “¿A dónde iré después de esta vida?”</p>
    <hr>
    <h3>El Evangelio de Jesucristo</h3>
    <p>El Evangelio de Jesucristo es el plan de nuestro Padre Celestial para la felicidad y la salvación* de Sus
        hijos. Se le llama Evangelio de Jesucristo porque la expiación de Jesucristo es el elemento principal del
        plan de nuestro Padre Celestial. De acuerdo con ese plan, nuestro Padre envió a Su Hijo Jesucristo al mundo
        para mostrarnos cómo llevar una vida plena y feliz, y experimentar gozo eterno después de esta vida.
        Mediante la gracia y la misericordia de Jesucristo, usted puede ser limpio del pecado y disfrutar de paz de
        conciencia; además, puede llegar a ser digno de vivir en la presencia de nuestro Padre Celestial después de
        esta vida.</p>
    <hr>
    <h1>we are happy</h1>
    <ol>

    </ol>
    </div>
    <ol></ol>
    <ul></ul>

</body>

</html>